#home{
  text-align: center;
  margin-top: 60px;
}

h1{
  font-size: 40pt;
  margin-bottom: 30px;
}

h3{
  font-size: 20pt;
  margin-bottom: 30px;
}

ul{
  padding: 0;
}

li{
  font-size: 15pt;
  list-style-type: none;
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover{
  color: darkmagenta;
}

a::after{
  color: black;
}
