<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <!-- <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>done</mat-icon>
  </button> -->
  <button routerLink="/" mat-button>CRUD</button>
  <span class="spacer"></span>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menuUsers">Usuários</button>
    <mat-menu #menuUsers="matMenu">
      <button mat-button routerLink="/users">Lista de usuários</button>
      <button mat-button routerLink="/users/create">Cadastrar Usuário</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuProducts">Produtos</button>
    <mat-menu #menuProducts="matMenu">
      <button mat-button routerLink="/products">Lista de produtos</button>
      <button mat-button routerLink="/products/create">Cadastrar Produto</button>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- <app-users></app-users>
<app-create-user></app-create-user> -->
<!-- não precisa mais declarar como acima pq a tag abaixo é responsável pelas rotas -->
<router-outlet></router-outlet>
